/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* ================= HOME ================= */

.home{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    min-height:70vh;
    gap:40px;
}

.home-left{
    max-width:600px;
}

.home-left h1{
    font-size:60px;
    font-weight:900;
    line-height:1.2;
    color:#222;
}


.tagline{
    margin-top:20px;
    font-size:22px;
    font-style:italic;
    color:#666;
    font-weight:600;
}

.home-right{
    max-width:420px;
}

.home-right p{
    font-size:18px;
    line-height:1.8;
    color:#555;
    margin-bottom:25px;
}

/* Button */
.read{
    display:inline-block;
    padding:14px 28px;
    background:#000;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
    font-weight:bold;
}

.read:hover{
    background:#d62828;
    transform:translateY(-3px);
}

/* ================= GALLERY ================= */
/* OUTER BOX */
#gall{
    width:90%;
    margin:60px auto;
    /* background:#f8f5ef; */
    background: #efd9b3;
    border-radius:20px;
    padding:40px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    overflow:hidden; 
}

/* INNER WRAPPER */
.gallery{
    width:100%;
    overflow:hidden; 
}

/* GRID FIX */
.slider-track{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:20px;
    width:100%;
}

/* IMAGE BOX */
.slide{
    border-radius:15px;
    overflow:hidden;
}

/* IMAGE FIX */
.slide img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

/* HOVER EFFECT */
.slide img:hover{
    transform:scale(1.05);
    transition:0.4s;
}

/* ================= RESPONSIVE ================= */

@media(max-width:1024px){
    .slider-track{
        grid-template-columns:repeat(2, 1fr);
    }
}

@media(max-width:768px){
    .slider-track{
        grid-template-columns:1fr;
    }

    #gall{
        padding:20px;
    }

    .slide img{
        height:200px;
    }
}